---
interface Props {
  icon: string;
  content?: string;
  title: string;
  button?: string;
  wide?: boolean;
  link?: string;
}

const { icon,title, content, button,wide,link } = Astro.props;
---

 <div class={`border rounded-lg shadow-sm bg-white flex flex-col justify-between ${wide ? "md:col-span-2 lg:col-span-1" : ""}`}>
        <!-- Header -->
        <div class="border-b pb-2 mb-4 p-6 bg-gray-100">
    <h2 class="text-3xl font-light">{title}</h2>
  </div>
 <div class="p-6">
        <!-- Content -->
        {content && (
          <p class={`text-gray-700 text-sm  ${wide?"pb-6 text-center":""}`}>{content}
         
          {link?
           <a href={link} class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{link}</a>
         :""}</p>
        )}

        <!-- Button -->

        {button && (
          <a 
            href={link || "#"}
            class=" inline-block px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
          >
            {button}
          </a>
        )}
        </div>
      </div>